<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Q&A Chat System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Sidebar -->
    <div id="sidebar">
        <h2>Chats</h2>
        <div id="chat-list">

        </div>
        <button id="new-chat">+ New Chat</button>
    </div>

    <!-- Main Chat -->
    <div id="chat-container">
        <div id="chat-box">
            <div class="message bot-message">

            </div>
        </div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Type your question here..." autocomplete="off">
            <button id="send-btn">Send</button>
        </div>
    </div>

    <!-- Retriever Details -->
    <div id="retriever-details-container">
        <div id="retriever-details">
            <h3>Retriver k-Value</h3>
            <input type="text" id="k-value" value="5">
        </div>
    </div>


    <!-- Chat Config -->
    <div id="chatConfigModal" class="config">
        <div class="config-content">
            <h3>Create New Chat</h3>


            <label>Chat Name</label>
            <input type="text" id="vectorInput" />

            <label>Embedding Function</label>
            <select id="embedInput">
                <option value="mxbai-embed-large" selected>mxbai-embed-large</option>
            </select>

            <label>CSV File</label>
            <input type="file" id="csvFileInput" accept=".csv" />

            <div class="config-actions">
                <button id="cancelChatBtn">Cancel</button>
                <button id="createChatBtn">Create</button>
            </div>
        </div>
    </div>



    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
